 /*Parrafos*/
  p {
      text-align: justify;
  }

  li>a{
    font-weight: bold;
    font-size: 1.1rem;
    color:azure;
  }
  h1{
    font-weight: bolder;
  }
  section>img{
    width: 110px;
    height: 150px;
    margin: 0 auto;
  }
  .imgindex{
    width: 70%;
    height: 50%;
    margin: 0 auto;
  }